    <form [formGroup]="supplierForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="container">
            <mat-form-field class="item-30">
                <input matInput aria-label="Nome" formControlName="name" />
            </mat-form-field>
            <mat-form-field class="item-70">
                <input matInput aria-label="Descrição" formControlName="description" />
            </mat-form-field>
        </div>
        <button mat-raised-button color="primary" type="submit" [disabled]="!supplierForm.valid">
            Salvar
        </button>

    </form>